body {
    width: 850px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 5px 3px;
    font-family: "ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    -webkit-user-select: none;
}

h1 {
    font-size: 16px;
}